beautifulsoup4==4.13.4
ddgs==9.3.1
duckduckgo_search==8.1.1
fitz==0.0.1.dev2
Flask==3.1.1
flask_cors==6.0.1
gnews==0.4.1
holidays==0.76
Jinja2==3.1.6
langchain==0.3.26
langchain_community==0.3.27
langchain_ollama==0.3.5
matplotlib==3.10.3
nltk==3.9.1
numpy==2.3.1
ollama==0.5.1
pandas==2.3.1
prettytable==3.16.0
pydantic==2.11.7
PyMySQL==1.1.1
PyPDF2==3.0.1
python_magic==0.4.27
pytz==2025.2
Requests==2.32.4
scikit_learn==1.7.1
selenium==4.34.2
ta==0.11.0
tabulate==0.9.0
termcolor==3.1.0
wikipedia==1.4.0
wikipedia_api==0.8.1
yfinance==0.2.65
